* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: auto;
  padding: 0 5rem;
}

#Kontakt {
  height: 100%;
  background-color: #f6f6f6;
  padding: 5rem 2rem 2rem;
  margin: 0 2rem 1rem;
}

.kontakt-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.kontakt-text {
  flex: 1 1 300px;
  font-family: "Zain", sans-serif;
  font-size: 1.2rem;
}

.kontakt-text h2 {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.kontakt-text a {
  color: #0057b8;
  text-decoration: none;
}

.kontakt-bild {
  flex: 1 1 300px;
  text-align: right;
}

.kontakt-bild img {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

@keyframes flash {
  from {
    background-color: #acaca8;
  }
  to {
    background-color: rgb(246, 246, 246);
  }
}

#Kontakt:target {
  animation: flash 1.5s ease-in-out;
  scroll-margin-top: 100px;
}

@media (max-width: 760px) {
  .kontakt-container {
    margin-top: 60px;
    align-items: center;
  }
  .kontakt-text {
    flex: 0;
    margin: 0;
    padding: 0;
  }
}
